.login form {
    max-width: 30rem;
    margin: auto;
    background-color: #E0E0E0;
    padding: 3rem 5rem;
}

.login input[type="text"] {

}

.login label {
    float: left;
}

.login img {
    color: #eee;
}
